<div class="justify">

    <div class="top-heading">
        <div class="my-3 text-center heading text-uppercase">
            <h6>
                IN THE HIGH COURT OF {{state_arrest}}
            </h6>
            <h6>IN THE {{state_arrest}} JUDICIAL DIVISION</h6>
            <h6>HOLDEN AT {{state_arrest}}</h6>
        </div>
        <div class="text-right text-uppercase my-3">
            SUIT NO:        /FHR/{{year}}
        </div>
        <div class="text-justify text-dark text-uppercase">
            IN THE MATTER OF AN APPLICATION FOR THE ENFORCEMENT OF THE APPLICANT’S
            FUNDAMENTAL RIGHTS TO RESPECT FOR THE DIGNITY OF HIS PERSON, PERSONAL
            LIBERTY, RIGHT TO FAIR TRIAL WITHIN A REASONABLE TIME AND FREEDOM OF
            MOVEMENT.
        </div>
        <div class="mt-2 font-weight-bold">BETWEEN</div>
        <div class="flex justify-content-between text-uppercase">
            <div>{{name}}</div>
            <div class="font-weight-bold">APPLICANT</div>
        </div>
        <div class="my-2">AND</div>
        <ol class="text-uppercase">
            <li>THE ATTORNEY GENERAL, {{state_arrest}}</li>
            <li>
                <Flex>
                    <div class="flex-1 ">
                        THE COMMISSIONER OF POLICE, {{state_arrest}}
                    </div>
                    <div class="text-uppercase text-bold ">RESPONDENT</div>
                </Flex>
                                 
            </li>
        </ol>
    </div>
    <div>
        <h6 class="underlined my-3 text-center">MOTION ON NOTICE</h6>
        <p>
            Brought Pursuant to Order 2 Rule 1 of the Fundamental Rights
            (Enforcement Procedure) Rules, 2009, Sections 32 (1), (2) and 169 of
            the Administration of Criminal Justice Law, No. 7 of 2015 of Rivers
            State, Sections 34, 35, 36 and 41 of the Constitution of the Federal
            Republic of Nigeria, 1999, AS AMENDED; Article 6,9 and 12 of the
            African Charter on Human and People’s Right (Ratification and
            Enforcement )Act, Cap A9 Laws of the Federation of Nigeria, 2004,
            and under the inherent Jurisdiction of this Honourable Court as
            preserved by Section 6(6) (a) of the Constitution of the Federal
            Republic of Nigeria, 1999, as amended.
        </p>
        <p>
            <span class="font-bold">TAKE NOTICE</span>: that this Honourable
            Court will be moved on ___________________day of ___________________
            {{year}} at the Hour of 9 O’clock in the forenoon
            or so soon thereafter as the Applicant or Counsel on behalf of the
            Applicant may be heard praying this honourable court for the
            following reliefs:
        </p>
        <ol>
            <li>
                <span class="font-bold">A DECLARATION</span> that the
                continuing detention of the Applicant since the
                {{arrested_on}}, till date
                without preferring of appropriate charges/information against the
                Applicant in the appropriate court of law for his trial, is
                wrongful, unlawful, and unconstitutional as it violates the
                applicants fundamental rights to respect for the dignity of his
                person, personal liberty and Right to fair trial as guaranteed
                under
                <span class="font-bold">
                    Sections 34, 35 and 36 of the Constitution of the Federal
                    Republic of Nigeria
                </span>
                , 1999, as amended; Article 5,6,9 and 12 of the African Charter on
                Human and People’s Right (Ratification and Enforcement )Act, Cap
                A9 Laws of the Federation of Nigeria, 2004.
            </li>
            <li>
                5,000,000.00 from the respondents jointly and severally and in the
                alternative for the violation of the Applicant’s Fundamental
                Rights.
            </li>
            <li>
                AN ORDER restraining the Respondents, their agents, servants and
                whosoever, from further arresting and detaining the Applicant in
                connection with the subject matter of this application.
            </li>
            <li>
                AND for such further or other Order(s) as this Honourable Court
                may deem fit to make in the circumstance.
            </li>
            <li>
                AND TAKE FURTHER NOTICE that the detention of the Applicant for
                more than 24hrs on an allegation of an offence without trial is a
                fragrant violation of the Applicant’s Constitutional Rights. See
                Section 35(4) and (5) of the 1999 Constitution of the Federal
                Republic of Nigeria as amended.
            </li>
        </ol>
    </div>



    <div class="footer">
        <div class="mt-5">
            Dated this ____________ day of ______________________
            {{year}}
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <div>G.B. EVANS, ESQ</div>
                <div>Evans Dule’s Foundation </div>
                <div>Solicitor to the Accused/Applicant</div>
                <div>No. 163A Okporo Road Port Harcourt,</div>
                <div>Rivers State.</div>
                <div>Email: evansb45@yahoo.com</div>
                <div> 08107639372</div>
            </div>
        </div>

        <div>
            <div class="footer-left">
                <h6>FOR SERVICE ON:</h6>      
                <ol>
                    <li>
                        <div>Attorney General, {{state_arrest}},</div>
                        <div>Ministry of Justice ,</div>
                        <div>Secretariat</div>
                    </li>
                    <li>
                        <div>Commissioner of Police, {{state_arrest}},</div>
                        <div>{{state_arrest}} Police Command,</div>
                    </li>
                </ol>
                      
            </div>
        </div>
    </div>
</div>